---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Ligature Lab">
    <main>
        <h1>Ligature Lab</h1>

        <div><a href="/login">Login</a></div>

        <h2>Datasets</h2>
        <ul>
            <li>Test</li>
        </ul>
    </main>
</Layout>

<style>
</style>
