---
import Layout from '../layouts/Layout.astro';
import jwt from "jsonwebtoken";
import { MainEditor } from '../components/MainEditor';
const jwtKey = import.meta.env.JWT_KEY;

let session = Astro.cookies.get("SESSION").value;
let username = "";
let datasets = [];

if (session == undefined) {
    return Astro.redirect("/login");
} else {
    try {
        let token = jwt.verify(session, jwtKey);
        username = token.user;

    } catch {
        return Astro.redirect("/login");
    }
}
---
<Layout title="Ligature Lab">
    <main>
        <span style="float:right">{username}</span>
        <h1>Ligature Lab</h1>
        <MainEditor client:only="solid"></MainEditor>
    </main>
</Layout>

<style>
</style>
