---
import Layout from '../layouts/Layout.astro';
import {Graphs} from '../components/Graphs.tsx';
import '../main.css';
import '@shoelace-style/shoelace/dist/themes/light.css';
import { getSession } from 'auth-astro/server';
import { runBend } from '../lib/ligature-client';

const session = await getSession(Astro.request);
const loggedIn = session != null
let userName = undefined
if (loggedIn) {
	userName = session.user?.email
}
const datasets = JSON.parse(await runBend("Ligature.datasets ()"))
---

<Layout title="Ligature Lab">
	<header>
		<h1>Ligature Lab</h1>
	</header>

	{ loggedIn && 
		<div>Hello, {userName} &dash; <button id="signOut">Logout</button></div>
		<a id="gotoRepl" href="/repl">GOTO REPL</a>
		<Graphs datasets={datasets} client:only="lit" /> }
	{ !loggedIn && <p>Not signed in.</p><button id="login">Login with GitHub</button> }

	<script>
	  const { signIn, signOut } = await import("auth-astro/client")
	  const login = document.querySelector("#login");
	  if (login != null) {
		login.onclick = () => signIn("github")
	  }
	  const logout = document.querySelector("#signOut")
	  if (logout != null) {
		logout.onclick = () => signOut()
	  }
	</script>
</Layout>
