---
import Layout from '../layouts/Layout.astro';
import { createClient } from '@supabase/supabase-js'
import jwt from "jsonwebtoken";

const jwtKey = import.meta.env.JWT_KEY;
const supabaseUrl = import.meta.env.SUPABASE_URL;
const supabaseKey = import.meta.env.SUPABASE_KEY;

let session = Astro.cookies.get("SESSION").value;

if (session != undefined) {
    try {
        jwt.verify(session, jwtKey);
        return Astro.redirect("/");
    } catch {
        //do nothing
    }
}

if (Astro.request.method === "POST") {
    let data = await Astro.request.formData();
    let username = data.get("username") || "";
    let password = data.get("password") || "";
    if (username != "" && password != "") {
        const supabase = createClient(
            supabaseUrl, 
            supabaseKey, 
            {
                auth: {
                    autoRefreshToken: false,
                    persistSession: false,
                    detectSessionInUrl: false
                }
            }
        );

        const { data, error } = await supabase.auth.signInWithPassword({
            email: username,
            password: password,
        });

        if (data.user != null) {
            let token = jwt.sign({user: username}, jwtKey, { expiresIn: '1h' });
            Astro.cookies.set("SESSION", token);
            return Astro.redirect("/");
        }
    }
}
---

<Layout title="Ligature Lab - Login">
    <main>
        <h1>Ligature Lab</h1>
        <h2>Login</h2>
        
        <div id="login">
            <form action="/login" method="post">
                <label for="username">Username:</label> <input type="text" name="username" value="">
                <label for="password">Password:</label> <input type="password" name="password" value="">
                <input type="submit" value="Login">
            </form>
        </div>
    </main>
</Layout>

<style>
</style>
