---
import Layout from '../../layouts/Layout.astro';
//import '../../main.css';
import "xterm/css/xterm.css";
import '@shoelace-style/shoelace/dist/themes/light.css';
import { getSession } from 'auth-astro/server';
const session = await getSession(Astro.request);
const loggedIn = session != null
let userName = undefined
if (loggedIn) {
	userName = session.user?.email
}
---

<Layout title="Ligature Lab REPL">
	<div id="term"></div>
</Layout>

<script lang="ts">
	console.log("yesh")
</script>